{% extends 'base.html' %}

{% block title %}Archives{% endblock %}
{% block content_title %}Archives{% endblock %}

{% macro dt(URL, date, text) %}
  <dt><a href='{{ SITEURL }}/{{ URL.format(date=date) }}'>{{ text }}</a></dt>
{% endmacro %}

{% macro dd(URL, date, text) %}
  <dd>
    {{ "📅 {date:%d} {date:%B} ".format(date=date) }} 
    <a href='{{ SITEURL }}/{{ URL.format(date=date) }}'>{{ text }}</a>
  </dd>
{% endmacro %}


{% block main %}
  <dl id='period-archives'>
    {% for year, articles in articles|groupby('date.year')|reverse %}
    {{ dt(YEAR_ARCHIVE_URL, (year,)|to_date, year) }}
      {% for article in articles %}
        {{ dd(article.url, article.date, article.title) }}
      {% endfor %}
    {% endfor %}
  </dl>
{% endblock %}
