{% macro spaceit(value='', len=2) %}
{{ "&nbsp;"|safe*len }}{{ value }}{{ "&nbsp;"|safe*len }}
{% endmacro %}

{% if articles_page and articles_page.has_other_pages() %}
  <div id='paginator'>
    {% if articles_page.has_previous() %}
    <span><a rel='prev' href='{{ SITEURL }}/{{ articles_previous_page.url }}'>&lt;</a> {{spaceit(len=1)}} </span>
    {% endif %}

    {% set interval = 3 %}
    {% set current_page = articles_page.number %}

    {% for page in articles_paginator.page_range|page_range(current_page=current_page, interval=interval)  %}
      {% if not loop.first %}
      <span>{{ spaceit('...') }}</span>
      {% endif %}
      <span>
        {# Only link to pages that are not the current_page #}
        {% if page != current_page %}
          <a href='{{ SITEURL }}/{{ articles_paginator.page(page).url }}'>{{ page }}</a>
        {% else %}
          {{ page }}
        {% endif %}
      </span>
    {% endfor %}

    {% if articles_page.has_next() %}
      <span>{{spaceit(len=1)}}<a rel='next' href='{{ SITEURL }}/{{ articles_next_page.url }}'>&gt;</a></span>
    {% endif %}
  </div>
{% endif %}
