{% macro crumb(url, name, pos) %}
  &gt;
  <!-- {% set clean_url = url.removesuffix('/index.html').removesuffix('.html') %} -->
  <span itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem'>
    <a itemprop='item' href='{{ SITEURL }}/{{ url }}'><span itemprop='name'>{{ name }}</span></a>
    <meta itemprop='position' content='{{ pos }}'/>
  </span>
{% endmacro %}

{% macro crumb_home() %}
  <span itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
    <meta itemprop='name' content='Home'/>
    <span itemprop='item' itemscope itemtype='https://schema.org/Blog'>
      <meta itemprop='name' content='{{ SITENAME|escape }}'/>
      <a itemprop='url' href='{{ SITEURL }}'>🏠</a>
    </span>
    <meta itemprop='position' content='1'/>
  </span>
{% endmacro %}

{#
Generate breadcrumbs of the form
    Home > Categories > Talks > My first ever talk
    Home > Categories > Reviews
    Home > Archives > 2022 > October
#}
<div class='breadcrumb' itemscope itemtype='https://schema.org/BreadcrumbList'>
  {{ crumb_home() }}

  {% if article or page %}
    {% set obj = article or page %}
    {{ crumb(CATEGORIES_SAVE_AS or 'categories', 'Categories', 2) }}
    {{ crumb(obj.category.save_as, obj.category.name, 3) }}
    {{ crumb(obj.save_as, obj.title|truncate(20), 4) }}

  {% elif author or category or tag %}
    {% for obj, title, SAVE_AS in (
      (author, 'authors', AUTHORS_SAVE_AS),
      (category, 'categories', CATEGORIES_SAVE_AS),
      (tag, 'tags', TAGS_SAVE_AS),
    ) %}
      {% if obj %}
        {{ crumb(SAVE_AS or title, title|title, 2) }}
        {{ crumb(obj.save_as, obj.name, 3) }}
        {% if articles_page.number > 1 %}
            {% set page_num = articles_page.number %}
            {{ crumb(obj.save_as.replace('.html', '{}.html'.format(page_num)), 'Page {}'.format(page_num), 4) }}
        {% endif %}
      {% endif %}
    {% endfor %}

  {% elif period %}
    {% set date = period_num|to_date %}
    {% for value, url, position in period|zip((YEAR_ARCHIVE_URL, MONTH_ARCHIVE_URL), range(2, 4)) %}
      {{ crumb(url.format(date=date), value, position) }}
    {% endfor %}

  {#
    For main navigation breadcrumbs like
        Home > Categories
        Home > Tags
  #}
  {% elif page_name %}
    {% for main_nav in MAIN_NAVIGATION %}
      {% if page_name.startswith(main_nav) %}
        {{ crumb(main_nav, main_nav|title, 2) }}
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
