<nav itemscope itemtype='https://schema.org/SiteNavigationElement'>
  <div class='container'>
    <div class='content'>
      {% for navitem in MAIN_NAVIGATION %}
      <span class='navitem' itemprop='name'><a itemprop='url' href='{{ SITEURL }}/{{ navitem }}' {% if page_name in (navitem, navitem + '/index' )%}class='active'{% endif %}>{{ navitem|title }}</a></span>
      {% endfor %}
    </div>
  </div>

  <div class='container' id='nav-breadcrumb-container'>
    <div class='content'>
      {% include 'base_breadcrumbs.html' %}
    </div>
  </div>
</nav>
